.borde-rojo{
    border: double 1px red;
    border-radius: 4px;
} 

.borde-verde{
    border: double 1px green;
    border-radius: 4px;
} 

.padd10{
    padding: 10px;
}

.col2p{
    width: 30%;
    float: left;
}

.col28{
    width: 20%;
    float: left;
}

.col82{
    width: 78%;
    float: left;
}

.col62{
    width: 58%;
    float: left;
}


.cleaner{
    clear: both;
}

.mt10{
    margin-top: 10px;
}

.cover-peli{
    max-width: 100%;
}
.linea-horizontal{
    border-bottom:solid 1px crimson;
} 

.m2px{
    margin:2px 0;
}

.content-nav{
    background-color:crimson ;
}

#brand-wrapper{
    width: 18%;
    float: left;
    
    padding: 6px 0;
}

#brand-wrapper .app-logo{
    max-height: 40px;   
    display: block;   
    margin:0 auto;
}

#brand-wrapper  #brand{
    display: block;      
}

#menu{
    width: 80%;
    float: left;
    
}

#menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu ul li{
    display: inline-block;
    padding: 20px 5px;
}

#menu ul li a{
    text-decoration: none;
    color:rgb(104, 2, 87);
    font-weight: 300;
}

.active-link{
    border-bottom: solid 3px rgb(104, 2, 87);
    background-color:rgba(104, 2, 87,.3); ;
}

.contenido{
    width: 65%;
    float: left;
    background-color: wheat;
}

.aside{
    width: 33%;
    float: left;
    background-color: tomato;
}

.subheader{
    background-color: purple;
    color:white;
}

#slider{
    background-color:steelblue;
    margin: 0;
    height: 200px;
    color:whitesmoke;
    padding-top:40px;
}

.btn-white{
    background-color: green;
    color:whitesmoke;
    padding: 10px 15px;;
    text-decoration: none;
    border-radius: 4px;
}